@import "bootstrap";
@import "bootstrap-sprockets";

/* mixins, variables */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* various */

/* PC、タブレット */
@media (max-width: 1980px) {
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

/* universal */

  body {
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .margin {
    margin-left: 100px;
    margin-right: 100px;
  }

  section {
    overflow: auto;
  }

  textarea {
    resize: vertical;
  }

  .center {
    text-align: center;
  }

  .center h1 {
    margin-bottom: 10px;
  }

/* typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

/* header */

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
  }

  .nav > li > a.btn.btn-primary:hover {
    background-color: #286090;
  }

/* table */

  table {
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  table.engineer-detail-left, table.engineer-confirm-left, table.project-detail-left, table.project-confirm-left {
    float:left;
    width:400px;
  }
  table.engineer-detail-right, table.engineer-confirm-right, table.project-detail-right, table.project-confirm-right {
    float:left;
    width:500px;
  }

  th {
    vertical-align: middle;
    text-align: center;
  }

/* form */

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }

  select#dispCondition {
    width: 30%;
  }

  .user_search_joinOrNot, .user_search_joinEndDate {
    width: 25%;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .field_with_errors {
    .form-control {
      color: $state-danger-text;
    }
  }

/* Users new */
  table#new {
    margin-top: 75px;
  }

  table#new td {
    padding-top: 10px;
    padding-bottom: 10px;
    input {
      margin-bottom: 0px;
    }
  }

  table#new th#employeeNumber {
    width:250px;
  }

  table#new th#projectId {
    width:400px;
  }

  p#tel, p#birth, p#join, p#price, p#time, p#date {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  select#birthday_year, select#birthday_month, select#birthday_day {
    width: 15%;
  }

  select#time_from_hour, select#time_from_minites, select#time_to_hour, select#time_to_minites {
    width: 15%;
  }

  input#tel1, input#tel2, input#tel3 {
    width: 10%;
  }

  input#priceMin, input#priceMax {
    width: 20%;
  }

  input#hourMin, input#hourMax {
    width: 10%;
  }

  select#exp_year, select#exp_month {
    width: 15%;
  }

/* Users index */

  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

/* Users detail */

/* tooltip */
  #tdSkill div {
    position: relative;
  }
  #tdSkill div:hover {
    height: 30px;
  }
  .tooltips {
    position: absolute;
    bottom: -0.8em;
    left: 0.3em;
    z-index: 9999;
    padding: 0.3em 0.5em;
    color: #FFFFFF;
    background: #000000;
    border-radius: 0.5em;
  }
  .tooltips:after {
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0.5em;
    top: -8px;
    border-top:8px solid transparent;
    border-left:8px solid #000000;
  }

/* Users search */
  .search_form {
    width: 75%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

/* Users matching */
  table#userMatching > tbody > tr {
    td {
      padding: 10px;
    }
    > td#projectId {
      width: 15%;
    }
    > td#name {
      width: 20%;
      text-align: left;
      word-break: break-word;
    }
    > td#startDate {
      width: 15%;
    }
    > td#matchingSkills {
      width: 25%;
      text-align: left;
    }
  }

  #age {
    float: left;
    margin-top: 7px;
    margin-left: 7px;
  }

  table.skill td input{
    width: 3%;
    display: inline-block;
  }

/* Projects index */
  table#project > thead > tr {
    > th {
      background-color: #ebebeb;
      width: 250px;
    }
    > td {
      padding-left: 10px;
      text-align: left;
    }
    > td#projectName {
      font-size: 25px;
      border: none;
    }
    > td#price {
      width: 25%;
    }
  }
}

/* スマートフォン */
@media (max-width: 800px) {
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

/* universal */

  body {
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .margin {
    margin-left: 100px;
    margin-right: 100px;
  }

  section {
    overflow: auto;
  }

  textarea {
    resize: vertical;
  }

  .center {
    text-align: center;
  }

  .center h1 {
    margin-bottom: 10px;
  }

/* typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

/* header */

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
  }

  .nav > li > a.btn.btn-primary:hover {
    background-color: #286090;
  }

/* table */

  table {
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  table.engineer-detail-left, table.engineer-confirm-left, table.project-detail-left, table.project-confirm-left {
    float:left;
    width:250px;
  }
  table.engineer-detail-right, table.engineer-confirm-right, table.project-detail-right, table.project-confirm-right {
    float:left;
    width:350px;
  }

  th {
    vertical-align: middle;
    text-align: center;
  }

/* form */

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }

  select#dispCondition {
    width: 45%;
  }

  select#dispCondition.form-control {
    font-size: 12px;
  }

  .user_search_joinOrNot, .user_search_joinEndDate {
    width: 35%;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .field_with_errors {
    .form-control {
      color: $state-danger-text;
    }
  }

/* Users new */
  table#new {
    margin-top: 50px;
  }

  table#new td {
    padding-top: 10px;
    padding-bottom: 10px;
    input {
      margin-bottom: 0px;
    }
  }

  table#new th#employeeNumber {
    width: 125px;
  }

  table#new th#projectId {
    width: 150px;
  }

  p#tel, p#birth, p#join, p#price, p#time, p#date {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  select#birthday_year {
    width: 25%;
  }

  select#birthday_month, select#birthday_day {
    width: 20%;
  }

  select#time_from_hour, select#time_from_minites, select#time_to_hour, select#time_to_minites {
    width: 15%;
  }

  input#tel1, input#tel2, input#tel3 {
    width: 20%;
  }

  input#priceMin, input#priceMax {
    width: 30%;
  }

  input#hourMin, input#hourMax {
    width: 25%;
  }

  td#exp {
    font-size: 13px;
  }

  select#exp_year, select#exp_month {
    width: 25%;
  }

/* Users index */

  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

/* Users detail */

/* tooltip */
  #tdSkill div {
    position: relative;
  }
  #tdSkill div:hover {
    height: 30px;
  }
  .tooltips {
    position: absolute;
    bottom: -0.8em;
    left: 0.3em;
    z-index: 9999;
    padding: 0.3em 0.5em;
    color: #FFFFFF;
    background: #000000;
    border-radius: 0.5em;
  }
  .tooltips:after {
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0.5em;
    top: -8px;
    border-top:8px solid transparent;
    border-left:8px solid #000000;
  }

/* Users search */
  .search_form {
    // width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

/* Users matching */
  table#userMatching > tbody > tr {
    td {
      padding: 10px;
    }
    > td#projectId {
      width: 20%;
    }
    > td#name {
      width: 20%;
      text-align: left;
      word-break: break-word;
    }
    > td#startDate {
      width: 25%;
    }
    > td#matchingSkills {
      width: 25%;
      text-align: left;
    }
  }

  #age {
    float: left;
    margin-top: 7px;
    margin-left: 7px;
  }

  table.skill td input{
    width: 3%;
    display: inline-block;
  }

/* Projects index */
  table#project > thead > tr {
    > th {
      background-color: #ebebeb;
      width: 100px;
    }
    > td {
      padding-left: 10px;
      text-align: left;
    }
    > td#projectName {
      font-size: 25px;
      border: none;
    }
    > td#price {
      width: 40%;
    }
  }
}
